In [1]:
import pandas as pd

restInspectZipCodes = pd.read_csv('../data/uszips.csv')
restInspectZipCodes.head(200)

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,16773.0,100.5,72001,Adjuntas,"{""72001"": 98.76, ""72141"": 1.24}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37083.0,472.1,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,45652.0,513.2,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
3,606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,6231.0,54.3,72093,Maricao,"{""72093"": 82.28, ""72153"": 11.67, ""72121"": 6.05}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,26502.0,275.7,72011,Añasco,"{""72011"": 96.71, ""72099"": 2.81, ""72083"": 0.37,...",Añasco|Moca|Las Marías|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1094,42.36481,-72.13548,Wheelwright,MA,Massachusetts,True,NaN,428.0,229.6,25027,Worcester,"{""25027"": 100}",Worcester,25027,False,False,America/New_York
196,1095,42.12763,-72.42994,Wilbraham,MA,Massachusetts,True,NaN,14740.0,253.1,25013,Hampden,"{""25013"": 100}",Hampden,25013,False,False,America/New_York
197,1096,42.40968,-72.77213,Williamsburg,MA,Massachusetts,True,NaN,2288.0,24.6,25015,Hampshire,"{""25015"": 92.01, ""25011"": 7.99}",Hampshire|Franklin,25015|25011,False,False,America/New_York
198,1097,42.17722,-72.83175,Woronoco,MA,Massachusetts,True,NaN,93.0,20.6,25013,Hampden,"{""25013"": 100}",Hampden,25013,False,False,America/New_York
199,1098,42.39551,-72.94315,Worthington,MA,Massachusetts,True,NaN,1182.0,14.3,25015,Hampshire,"{""25015"": 100}",Hampshire,25015,False,False,America/New_York

In [2]:
restInspectZipCodes.drop(['lat', 'lng', 'state_name','zcta', 'parent_zcta', 'county_fips', 'county_weights', 'county_names_all', 'county_fips_all', 
                          'imprecise', 'military', 'timezone'], axis = 1, inplace = True)
restInspectZipCodes

         zip         city state_id  population  density            county_name
0        601     Adjuntas       PR     16773.0    100.5               Adjuntas
1        602       Aguada       PR     37083.0    472.1                 Aguada
2        603    Aguadilla       PR     45652.0    513.2              Aguadilla
3        606      Maricao       PR      6231.0     54.3                Maricao
4        610       Anasco       PR     26502.0    275.7                 Añasco
...      ...          ...      ...         ...      ...                    ...
33783  99923        Hyder       AK        12.0      0.3  Prince of Wales-Hyder
33784  99925      Klawock       AK       990.0      7.1  Prince of Wales-Hyder
33785  99926   Metlakatla       AK      1582.0      4.6  Prince of Wales-Hyder
33786  99927  Point Baker       AK         0.0      0.0  Prince of Wales-Hyder
33787  99929     Wrangell       AK      2509.0      0.4               Wrangell

[33788 rows x 6 columns]

In [3]:
restInspectZipCodes['zip'] = restInspectZipCodes['zip'].astype(str)
restInspectZipCodes['zip'].dtypes

dtype('O')

In [4]:
restInspectZipCodes['population'] = restInspectZipCodes['population'].fillna(0)
restInspectZipCodes['population'] = restInspectZipCodes['population'].astype(int)
restInspectZipCodes['density'] = restInspectZipCodes['density'].fillna(0)
restInspectZipCodes['density'] = restInspectZipCodes['density'].astype(int)

In [5]:
restInspectZipCodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33788 entries, 0 to 33787
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   zip          33788 non-null  object
 1   city         33788 non-null  object
 2   state_id     33788 non-null  object
 3   population   33788 non-null  int32
 4   density      33788 non-null  int32
 5   county_name  33788 non-null  object
dtypes: int32(2), object(4)
memory usage: 1.3+ MB

In [6]:
restInspectZipCodes.drop_duplicates(inplace=True)

In [7]:
restInspectZipCodes.dropna(inplace=True)

In [10]:
restInspectZipCodes

         zip         city state_id  population  density            county_name
0        601     Adjuntas       PR       16773      100               Adjuntas
1        602       Aguada       PR       37083      472                 Aguada
2        603    Aguadilla       PR       45652      513              Aguadilla
3        606      Maricao       PR        6231       54                Maricao
4        610       Anasco       PR       26502      275                 Añasco
...      ...          ...      ...         ...      ...                    ...
33783  99923        Hyder       AK          12        0  Prince of Wales-Hyder
33784  99925      Klawock       AK         990        7  Prince of Wales-Hyder
33785  99926   Metlakatla       AK        1582        4  Prince of Wales-Hyder
33786  99927  Point Baker       AK           0        0  Prince of Wales-Hyder
33787  99929     Wrangell       AK        2509        0               Wrangell

[33788 rows x 6 columns]

In [12]:
restInspectZipCodes.to_csv(r'C:\Users\jrtho\Documents\NSS\Projects\Capstone-Restaurant_Inspections\data\uszips_cleaned.csv', index=False)